.logo-container {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 5px 0px;
}

#siteLogo{
  width: 60%;
  height: auto;
}

.login-btn {
  color: #00415d;
  text-decoration: none;
  justify-content: flex-end;
  font-size: 20px;
  transition: text-decoration 0.3s ease; 
  margin-left: auto; 
  padding-right: 5%;
  padding-bottom: 3px; 

}

.login-btn:hover {
  text-decoration: underline; 
}
header {
  background-color: #03628C;
}

.navbar {
  display: flex;
  justify-content: space-evenly;  
  width: 100%;
  flex-wrap: nowrap;   
  font-size: 19px;

}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0px 105px;
  display: block;
  height: 100%;
  line-height: 50px; 
  text-align: center; 
  white-space: nowrap; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #009DA9;
  width: 100%;
  text-align: left;
  padding: 0px 0px; 
}

.dropdown-content a {
  color: white;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #009DA9;

}

.dropdown-content a:hover {
  background-color: #006d75;
}

.background-image {
  height: 600px;
  width: 100%;

}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.radio-group {
  display: flex;
  gap: 15px;
}

label {
  font-size: 16px;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 600px;
  width: 100%;
  background-image: url("./assets/ventnor.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
}


.rectangle-background {
  padding: 20px;
  background-color: #03638cb8; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.search-bar {
  padding: 8px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1; 
}

.search-button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #009DA9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #007a82;
}

label {
  font-size: 16px;
  cursor: pointer;
}

.footer {
  background-color: #03628C; 
  color: white;
  padding: 20px 0;
  text-align: center; 
  font-family: 'Trebuchet MS';
}

.footer-content p {
  margin: 10px 0; 
  font-size: 16px; 
}

.footer-content a {
  color: #009DA9; 
  text-decoration: none; 
}

.footer-content a:hover {
  text-decoration: underline; 
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Trebuchet MS';
}

/* h1{
  font-size: 60px;
  text-align: center;
  padding-bottom: 20%;
  padding-top: 20%;
}

h2{
  font-size: 22px;
  text-align: center;
  padding-top: .75%;
  padding-left: 3.9%;
  padding-right: 3.9%;
}

h3{
  font-size: 20px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
}

h4{
  font-size: 20px;
  padding-left: 5%;
  padding-right: 4%;
  margin-top: 0;
  margin-bottom: 0;

}

h5{
  font-size: 26px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;

  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-shadow: #F1F8FF;
}

h6{
  font-size: 16px;
  margin-top: 0%;  
  text-align: center;
}

p{
  font-size: 18px;
  padding-left: 10%;
  padding-right: 5%;

  margin-top: 0;  
  margin-bottom: 0;  
  padding-top: .5%;

  justify-content: center;
}

.blue-text{
  color:blue;
  font-weight: bold;
}

.purple-text{
  color:rgb(71, 0, 152);
  font-weight: bold;
}


.color-text{
  color:rgb(0, 134, 60);
  font-weight: bold;
}

.orange-text{
  color:rgb(255, 0, 251);
  font-weight: bold;
}

.red-text{
  color:rgb(232, 0, 0);
  font-weight: bold;
}

body {
  background-color: #F6FAFA; 
}

.video-container { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

.input-container { 
  display: flex;
  gap: 45%;
  flex-direction: row;
  height: 5%;
  margin-bottom: 0;
  padding-left: 25.5%;
}

#staffGallery{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 100%;
  gap: 50px;
}

.video {
  width: 75%;
  border-radius: 10px;
  margin: 20px auto;
  padding-right: 5%;
}

.galleryImage{
  height: 360px; 
  width: 390px; 
  border-radius: 5px;
} 


.logoImage{
  width: 100px;
  height: auto;  /* Ensure aspect ratio is maintained */
  padding-right: 5%;
  max-width: 100%;
} 

#cabGallery{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 370px;
  width: 100%;
  gap: 10px;
}

#driveGallery{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 260px;
  width: 100%;
  gap: 10px;
}

#csGallery{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 310px;
  width: 100%;
  gap: 10px;
}

#tableGallery{
  display: flex;
  flex: row;
  padding-left: 6%;
 
  height: 380px;
  gap: 150px;
}

.cabImage{
  height: 360px; 
  width: 250px; 
  border-radius: 5px;

}

.driveImage{
  height: 250px; 
  width: 250px; 
  border-radius: 5px;
}

.csImage{
  height: 300px; 
  width: 250px; 
  border-radius: 5px;
}

.text-container {  
  display: flex;
  flex: 3;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  padding-right: 110px;
  /* padding-top: 30px; */
  gap: 200px;
  width: 90%;
}

.state-photos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#mouseGallery{
  display: flex;
  flex: 7;
  flex-direction: column;
  align-items: left;
  height: 630px;
  width: 100%;
  gap: 30px;

}

#mouseGallery1{
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 380px;
  width: 100%;
}

#keyboardGallery1{
  display: flex;
  flex-direction: column; 
  align-items: center;
  height: 400px;
  width: 100%;

}

#stateGallery{
  display: flex; 
  flex: 3;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 600px;
  width: 100%;
}

.mouse1{
  height: 300px; 
  width: 625px;
  border-radius: 10px;

} 

.mouse2{
  height: 260px; 
  width: 500px; 
  border-radius: 10px;
} 

.keyboard1{
  height: 300px; 
  width: 625px; 
  border-radius: 10px;

} 

.keyboard2{
  height: 300px; 
  width: 625px; 
  border-radius: 10px;


} 
table {
  width: 100%;
  font-family: 'Poppins';
  margin-top: 0;
  padding-top: 1%;
  padding-left: 4%; 
  padding-right: 4%;
  font-size: large;
}

th, td {
  padding: .5%; 
}


th {
  font-weight: bold;
  width: 20%;
  
}

td {
  text-align: left;
  vertical-align: top;
  padding-top: 0%;
  padding-left: 1.25%;
  padding-right: 1.25%; 
}

.padding-top {
  padding-top: 2.5%;
}

 */

/*used chat to help with video playing and css help