body {
  overflow-x: hidden;
  background-color: #F6FAFA; 

}

.logo-container {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 5px 0px;
}

#siteLogo{
  width: 60%;
  height: auto;
}

.login-btn {
  color: #00415d;
  text-decoration: none;
  justify-content: flex-end;
  font-size: 20px;
  transition: text-decoration 0.3s ease; 
  margin-left: auto; 
  padding-right: 5%;
  padding-bottom: 3px; 

}

.login-btn:hover {
  text-decoration: underline; 
}

header {
  background-color: #03628C;
}

.navbar {
  display: flex;
  justify-content: space-evenly;  
  

  width: 100%;
  /* flex-wrap: wrap;    */
  font-size: 19px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.navbar li {
  position: relative;
}

.navbar a {
  background-color: #03628C;
  color: white;
  text-decoration: none;
  justify-content: space-between;
  padding: 0px 105px;
  display: block;
  height: 100%;
  /* line-height: 50px; */
  line-height: 250%; 
 
  text-align: center; 
  white-space: nowrap; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #009DA9;
  width: 100%;
  text-align: left;
  /* padding: 0px 0px;  */
}

.dropdown-content a {
  color: white;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #009DA9;

}

.dropdown-content a:hover {
  background-color: #006d75;
}

.background-image {
  height: 600px;
  width: 100%;

}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.radio-group {
  display: flex;
  gap: 15px;
}

label {
  font-size: 16px;
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 600px;
  /* height: 100%; */

  width: 100%;
  background-image: url("./assets/ventnor.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
}


.rectangle-background {
  padding: 20px;
  background-color: #03638cb8; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.search-bar {
  padding: 8px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1; 
}

.search-button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #009DA9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #007a82;
}

label {
  font-size: 16px;
  cursor: pointer;
}

.footer {
  background-color: #F6FAFA; 
  color: #03628C;
  padding: 20px 0;
  text-align: center; 
  font-family: 'Trebuchet MS';
}

.footer-content p {
  margin: 10px 0; 
  font-size: 16px; 
}

.footer-content a {
  text-decoration: none; 
  color: #03628C;

}

.footer-content a:hover {
  text-decoration: underline; 
  color: #009DA9; 

}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Trebuchet MS';
}


/* for tablets */
@media (min-width: 2000px) and (max-width: 4400px) { /* for large desktops and tablets */

  .login-btn {
    font-size: 44px;
    transition: text-decoration 0.3s ease; 
  }

  .navbar a {
    padding: 0px 25px;
    width: 100%;
    font-size: 44px;

  }
  .main-container {
    height: 1600px;
  }

  .rectangle-background {
    padding: 55px;
  }

  .search-box {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

  .search-bar {
    width: 650px;
    font-size: 36px;
  }

  .search-button {
    font-size: 36px;
  }

  label {
    font-size: 36px;
    cursor: pointer;
  }
    .footer-content p {
      font-size: 36px; 
    }
    
  }


/* for tablets */
@media (max-width: 1415px) {  

  .navbar a {
   
    padding: 0px 25px;

  }
}
  
 


/* for phones */
@media (max-width: 630px) {  

  .logo-container {
    flex-direction: column;
   height: 80px;
  } 

  #siteLogo{
    width: 350px;
    height: 80px;
  }

  .navbar a {
   
    padding: 0px 0px;
    color:#03628C;
    font-size: 20px; 

  }

  .navbar a {
    font-size: 0; /* Hide text s*/
    display: inline-block;
    width: 60px;
    height: 15px;
    position: relative;
  }

  /* Default hamburger icon */
  .navbar a::before {
    content: "☰"; /* Hamburger icon */
    font-size: 40px;
    display: block;
    text-align: left;
    position: absolute;

    transform: translate(-50%, -50%);
  }
  

  .navbar a:first-of-type::before {
    content: "☰"; /* Hamburger icon */
    font-size: 24px;
    display: block;

  }
  .navbar li:nth-child(1) a::before {
    color: white;
  }

  .navbar li:nth-child(1) a:hover::before {
    color: #009DA9;
  }


  .main-container {
    height: 700px;
  } 

  .rectangle-background {
    padding: 15px;
  }

  .search-box {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

  .search-bar {
    width: 60px;
    font-size: 16px;
  }

  .search-button {
    font-size: 16px;
  }

  .dropdown:hover .dropbtn {
    background-color: #03628C;
  
  }
  


}
  


/*used chat to help with search bar container and css